obj/*
bin/*
build/*

*.o
*.a
*.d
*.hex
*.map
*.elf
*.bin
.*.sw?
.*.pyc

.project 
.cproject 
.settings

._*
.DS_Store
build
*.sublime-workspace
*.sublime-project

.vscode/*

store.json
scripts/event_header_generator/generated/
scripts/event_header_generator/venv/
